.cover__subtitle {
  position: relative;
  top: 307px;
  left: 50%;
  transform: translateX(-50%);  
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  width: 360px;
  color: white;
  z-index: 1;  
}

/*Ничего лучше, чем изменить абсолют на релейтив я не придумал. 
Теперь, конечно, нет той проблемы, которую вы показали, и блок 
начал растягиваться, но это всё равно не похоже на самое 
элегантное решение*/

@media screen and (max-width: 1024px) {
  .cover__subtitle {  
    top: 227px;     
  }
}

@media screen and (max-width: 860px) {
  .cover__subtitle {    
    top: 147px;  
  }
}

@media screen and (max-width: 610px) {
  .cover__subtitle {        
    top: 80px;      
    width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {        
       
  }
}