.cover__subtitle {
  position: relative;
  top: 307px;
  left: 50%;
  transform: translateX(-50%);  
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  width: 360px;
  color: white;
  z-index: 1;  
}

/*Просто у нас в тренажере отмечают, что можно использовать
паддинг в процентах для задания высоты резинового блока с сохранением 
пропорций. И, по моему, из-за этого, у меня не вышло расположить текст 
флексом. Я изначально так и хотел, но тогда пришлось бы задавать блоку 
фиксированный размер и менять его на брейкпоинтах, выходило неаккуратно и
я решил переделать так, как вот сейчас. 
Возможно, конечно,что я просто что-то не так понял :)*/

@media screen and (max-width: 1024px) {
  .cover__subtitle {  
    top: 227px;     
  }
}

@media screen and (max-width: 860px) {
  .cover__subtitle {    
    top: 147px;  
  }
}

@media screen and (max-width: 610px) {
  .cover__subtitle {        
    top: 80px;      
    width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}

