@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__digits/intro__digits.css);

.intro {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 100%;
    margin: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 0 16px;
  }
}