@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  position: relative;
  max-width: 1184px;
  margin: 0 auto;
}

.cover:hover .cover__overlay {
  transition: ease-in .5s;
  opacity: .8;
}
/* Полностью поддерживаю, но в макете в фигме недвусмысленно 
показано курсором, что при наведении на блок срабатывает ховер.
Если я что-то не так понимаю, то поправьте меня пожалуйста. 
А про transition  в спокойном состоянии - ваще круто!*/


@media screen and (min-width: 881px) and (max-width: 1184px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .cover {
  }
}

@media screen and (max-width: 550px) {
  .cover {
  }
}