.cover__background {
  margin-top: 92px;
  background-image: url(../../../images/cover-trains.jpg);
  max-width: 100%;
  padding-bottom: 44.342%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover__background:hover .cover__overlay {
  transition: ease-in .5s;
  opacity: .8;
}

/*я сначала подумал, что вы говорите про добавление новых ссылок
на уже имеющийся блок с фоном, а не создание нового такого блока, 
извините */

@media screen and (max-width: 1023px) {
  .cover__background {    
    margin-top: 88px;    
  }
}

@media screen and (max-width: 767px) {
  .cover__background {    
    margin-top: 64px;    
  }
}