.footer__list-item {
  display: inline;
  margin-right: 18px;
}

@media screen and (max-width: 550px) {
  .footer__list-item {   
    display: block; 
    margin: 0 0 32px 0;
  }

  .footer__list-item:nth-last-of-type(1) {   
    display: block; 
    margin: 0;
  }
}